<div class="inner top clearfix">
    <div class="logo"><a href="index.htm" tppabs="http://www.haiq.com/"><img src="__PUBLIC__/Home/image/logo12.png" tppabs="__PUBLIC__/Home/image/logo12.png" class="png vt"></a></div>
    <div class="clearfix">
        <!--<div class="serachbox">
             <input type="hidden" name="kwtype" value="0" />
           <input type="text" name="q" placeholder="关键词搜索" class="search-txt" id="txt_key">
           <input type="button" class="search-btn" onClick="toseach() ">
       </div>--><!--serachbox end-->
        <!--serachbox end-->
    </div>
    <div class="nav" id="nav">
        <ul>
            <li><a href="index.htm" tppabs="http://www.haiq.com/" class="act">首页</a></li>

            <li><a href="<?php echo U('Index/about')?>">关于我们</a></li>

            <li><a href="<?php echo U('News/lst')?>">新闻资讯</a></li>

            <li><a href="a/chanpinzhanshi/index.htm" tppabs="http://www.haiq.com/a/chanpinzhanshi/">产品展示</a></li>

            <li><a href="a/jishufuwu/chanpindingzhi/index.htm" tppabs="http://www.haiq.com/a/jishufuwu/chanpindingzhi">技术服务</a></li>

            <li><a href="a/rencaiziyuan/qiyewenhua/index.htm" tppabs="http://www.haiq.com/a/rencaiziyuan/qiyewenhua">人才资源</a></li>

            <li><a href="a/lianxiwomen/index.htm" tppabs="http://www.haiq.com/a/lianxiwomen/">联系我们</a></li>



        </ul>
    </div>
    <!--nav end-->
</div>
<script type="text/javascript">
    jQuery(function () {
        $('input').keyup(function (event) {

            if (event.keyCode == "13") {
                toseach();
                return false;
            }

        });
    });
</script>