
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>常州市海潜贸易有限公司</title>
  <meta name="description" content="常州市海潜贸易有限公司">
  <meta name="keywords" content="常州市海潜贸易有限公司">
  <LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css" tppabs="http://www.haiq.com/__PUBLIC__/Home/css/style.css">
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js" tppabs="http://www.haiq.com/__PUBLIC__/Home/js/jquery.min.js"></script>
  <!--[if lte IE 6]>
  <!--<script type="text/javascript" src="templets/default/style/png.js" tppabs="http://www.haiq.com/templets/default/style/png.js"></script>-->
  <script type="text/javascript">
    PNG.fix('.png')
  </script>
  <![endif]-->
</head>
<body>
<include file="Public/head"/>
<div  class="pagebox">
  <div  class="inner clearfix">
    <p  class="ibox-t3"><span  class="en">Purification engineering technology research center of Sichuan Province Natural Medicine</span><br>
      <span  class="zh">常州市海潜贸易有限公司</span></p>
    <p  class="ptname">关于我们</p>
  </div>
</div>
<div  class="container clearfix">
  <div  class="page"> &nbsp;<span  style="color: rgb(59, 59, 59); font-family: &#39;microsoft yahei&#39;, Arial, Helvetica, sans-serif; line-height: 21px; ">&nbsp;&nbsp;<span style="color: rgb(59, 59, 59); font-family: 'microsoft yahei', Arial, Helvetica, sans-serif; line-height: 21px;">公司集研发、生产于一体，实力雄厚，成功搭建了一个高效的药物成分分离纯化外包服务平台，主营业务包括药用植物天然药物单体、标准对照品等天然化合物成分的技术研发和生产订制以及药物杂质分离分案、质量控制和提升、分离纯化工艺开发和外包等服务。目前，公司与国内外多家企业、院校密切合作，为其提供了高品质的服务，建立了长久稳定的合作关系，在行业内拥有了较高的声誉。</span></span> </div>
</div>
<include file="Public/foot"/>

<div class="gobox"><a href="javascript:void(0)" class="gotop">&nbsp;</a></div>
<script type="text/javascript" src="../../../templets/default/js/page.js" tppabs="http://www.haiq.com/templets/default/js/page.js"></script> 
<script type="text/javascript" src="../../../templets/default/js/jquery.bxslider.js" tppabs="http://www.haiq.com/templets/default/js/jquery.bxslider.js"></script> 
</body>
</html>