
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>常州市海潜贸易有限公司</title>
<meta name="description" content="常州市海潜贸易有限公司">
<meta name="keywords" content="常州市海潜贸易有限公司">
<LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css" tppabs="http://www.haiq.com/__PUBLIC__/Home/css/style.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js" tppabs="http://www.haiq.com/__PUBLIC__/Home/js/jquery.min.js"></script>
<!--[if lte IE 6]>
<!--<script type="text/javascript" src="templets/default/style/png.js" tppabs="http://www.haiq.com/templets/default/style/png.js"></script>-->
<script type="text/javascript">
PNG.fix('.png')
</script>
<![endif]-->
</head>
<body>
<include file="Public/head"/>
<!--top end-->
<div class="banner">
  <div class="bannerbox">
    <ul>
      <li><a href="a/guanyuwomen/gongchengzhongxin/index.htm" tppabs="http://www.haiq.com/a/guanyuwomen/gongchengzhongxin/" style="background-image:url('__PUBLIC__/Home/image/20145281553571732.jpg');" class="pic">&nbsp;</a></li>
      <li><a href="a/guanyuwomen/fuwupingtai/index.htm" tppabs="http://www.haiq.com/a/guanyuwomen/fuwupingtai/" style="background-image:url(__PUBLIC__/Home/image/20145271139503826.jpg);" class="pic">&nbsp;</a></li>
      <li><a href="a/chanpinzhanshi/index.htm" tppabs="http://www.haiq.com/a/chanpinzhanshi/" style="background-image:url(__PUBLIC__/Home/image/20145271140238814.jpg);" class="pic">&nbsp;</a></li>
      <li><a href="a/jishufuwu/chanpindingzhi/index.htm" tppabs="http://www.haiq.com/a/jishufuwu/chanpindingzhi/" style="background-image:url(__PUBLIC__/Home/image/20145271140513654.jpg);" class="pic">&nbsp;</a></li>
    </ul>
  </div>
  <div class="bannerbot"><img class="png" src="__PUBLIC__/Home/image/banner_i1.png" tppabs="http://www.haiq.com__PUBLIC__/Home/image/banner_i1.png"></div>
</div>
<!--banner end-->

<dl class="iboxlist clearfix">
  <dd class="aboutibox">
    <p class="it">公司简介</p>
    <div class="iimg">
    <img src="__PUBLIC__/Home/image/20145261751494170.jpg" tppabs="http://www.haiq.com__PUBLIC__/Home/image/20145261751494170.jpg" class="vt"/></div>
    <div class="iicon"> 从事药物活性成分分离及标准研究外包服务的高科技企业。公司集研发、生产于一体，实力雄厚，成功搭建了一个高效的药物成分分离纯化外包服务平台，主营业务包括药用植物天然药物单体、标准对照品等天然化合物成分的技术研发和生产订制以及药物杂质分离分案、质量控制和提升.... </div>
    <a href="a/guanyuwomen/jianyaojieshao/index.htm" tppabs="http://www.haiq.com/a/guanyuwomen/jianyaojieshao/" class="imore"><span>查看详情</span></a> </dd>
  <dd class="newibox">
    <p class="it">新闻中心</p>
    <div class="iimg">
    <a href="a/xinwenzixun/index.htm" tppabs="http://www.haiq.com/a/xinwenzixun/"><img src="__PUBLIC__/Home/image/20145261752435854.jpg" tppabs="http://www.haiq.com__PUBLIC__/Home/image/20145261752435854.jpg" class="vt"/></a></div>
    <div class="ilist">
      <ul>
      <li><a target="_blank" href="a/xinwenzixun/20141218/1.html" tppabs="http://www.haiq.com/a/xinwenzixun/20141218/1.html">公司春游活动</a></li>
<li><a target="_blank" href="a/xinwenzixun/20141218/3.html" tppabs="http://www.haiq.com/a/xinwenzixun/20141218/3.html">二0一四年度消防安全培训</a></li>
<li><a target="_blank" href="a/xinwenzixun/20141218/2.html" tppabs="http://www.haiq.com/a/xinwenzixun/20141218/2.html">组织召开可行性专家咨询</a></li>

      </ul>
    </div>
    <a href="a/xinwenzixun/index.htm" tppabs="http://www.haiq.com/a/xinwenzixun/" class="imore"><span>查看详情</span></a> </dd>
  <dd class="engineeringibox">
    <p class="it">工程中心</p>
    <div class="iimg">
    <img src="__PUBLIC__/Home/image/20145261752232359.jpg" tppabs="http://www.haiq.com__PUBLIC__/Home/image/20145261752232359.jpg" class="vt"/></div>
    <div class="iicon"> "moumou工程技术研究中心"（以下简称"中心"）是由成都普思生物科技有限公司（以下简称"普思生物"）组建成立的专业化天然药物分离纯化技术研究服务中心，于2011年12月获四川省科技厅、财政厅的批准（川高科【2011】30号）……</div>
    <a href="a/guanyuwomen/gongchengzhongxin/index.htm" tppabs="http://www.haiq.com/a/guanyuwomen/gongchengzhongxin/" class="imore"><span>查看详情</span></a> </dd>
</dl>
<!--iboxlist end-->
<include file="Public/foot"/>

<!--footbox end-->
<div class="gobox"><a href="javascript:void(0)" class="gotop">&nbsp;</a></div>
<script type="text/javascript" src="__PUBLIC__/Home/js/page.js" tppabs="http://www.haiq.com/__PUBLIC__/Home/js/page.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.bxslider.js" tppabs="http://www.haiq.com/__PUBLIC__/Home/js/jquery.bxslider.js"></script> 
<script type="text/javascript">
    //<![CDATA[ 
    jQuery(function () {
        //banner
        var bannersider = jQuery('.bannerbox ul').bxSlider({
            auto: true,
            speed: 1500,
        });
        jQuery('.bannerbox').mouseenter(function () {
            jQuery(this).find(".bx-prev").stop().animate({ left: "0px" }, 400);
            jQuery(this).find(".bx-next").stop().animate({ right: "0px" }, 400);
            bannersider.stopAuto();
        })
        jQuery('.bannerbox').mouseleave(function () {
            jQuery(this).find(".bx-prev").stop().animate({ left: "-48px" }, 400);
            jQuery(this).find(".bx-next").stop().animate({ right: "-48px" }, 400);
            bannersider.startAuto();
        })
        jQuery(".new-lbox li").mouseenter(function () {
            jQuery(this).addClass("act");
        })
        jQuery(".new-lbox li").mouseleave(function () {
            jQuery(this).removeClass("act");
        })
    })
    //]]>
</script>
</body>
</html>
